:host {

  .input-group {
    position: relative;

    .fa-times {
      position: absolute;
      top: 18px;
      right: 24px;
      cursor: pointer;
      z-index: 9;
    }
  }

  .list-group-item {
    cursor: pointer;
  }
}